<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" type="text/css" href="../../static/css/register.css" th:href="@{/css/register.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Car Rental App</title>

</head>
<body>
<p class="back-ref">
    <a href="home.html" th:href="@{/}">Back</a>
</p>
<div class="main-container">
    <div class="form-container">
        <div class="form-border">
            <form th:action="@{/login}" method="POST" class="request-container">
                <div class="input-container">
                    <h2>Sign In</h2>
                    <input name="username" type="text" id="username" placeholder="Username" th:value="${username}"></br>
                    <input name="password" type="password" id="password" placeholder="Password">
                </div>
                <div class="signUpRefDiv">
                    <input name="button" type="submit" class="submit-button" value="Sign in">
                </div>
            </form>

            <form th:action="@{/logout}" method="POST" class="request-container" style="margin-top: 0;">
                <div class="signUpRefDiv">
                    <input name="button" type="submit" class="submit-button" value="Log out">
                </div>
                <p class="signUpRef" style="padding-bottom: 10px">Click
                    <a href="register.html" th:href="@{/register}">here</a> to sign up.</p>

                <p id="Result" th:text="${signInResult}"></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>