body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333333;
    font-size: 32px;
    padding-left: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.main-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 85px;
}

.form-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 5px;
    list-style-type: none;
    padding: 20px 20px;
}

.bill-container {
    font-weight: bold;
    color: #333333;
    align-items: center;
}

#billID {
    margin-left: 10px;
}

.bill-container p{
    font-size: 16px;
    text-align: center;

}

.current-id {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.list-container {
    padding-left: 10px;
    text-align: center;
    width: 100%;
}

.list-item {
    color: #666666;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    list-style-type: none;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.list-item:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease
}

.err-message {
    color: #333333;
    font-size: 24px;
    align-items: center;
    text-align: center;
}

.back-ref {
    margin-left: 20px;
    margin-bottom: 0;
}

.back-ref a{
    color: #333333;
    font-size: 16px;
}

.submit-button {
    cursor: pointer;
    font-weight: bold;
    color: #333333;
    font-size: 16px;
}

button:disabled, input:disabled {
    opacity: 0.5;
    background-color: #ccc;
    color: #888;
    cursor: default;
}

.bill-input {
    text-align: center;
}

.request-container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #333333;
    align-items: center;
}

.request-container div{
    padding-bottom: 20px;
    font-size: 16px;
}

.request-container input {
    font-size: 16px;
}